<a href="https://colab.research.google.com/github/pranaydurnala/Python-Basics/blob/main/coding_questions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
numbers = [1,2,3,4,5,6,7,8,9]
for num in numbers:
  if num%2 == 0:
    print(num,"num is even ")
  else:
    print(num,"num is odd ")

1 num is odd
2 num is even
3 num is odd
4 num is even
5 num is odd
6 num is even
7 num is odd
8 num is even
9 num is odd

In [ ]:
#factorial
num = int(input("enter a number "))
factorial = 1
if num < 0 :
  print("cannot process operation")
elif num == 0:
  print(f"factorial of {num} is 1")
else:
  for i in range(1, num + 1):
    factorial = factorial * i
  print("factorial is ",factorial)

enter a number5
factorial is  120

In [ ]:
 #finding the given input  is palindrome or not

 string = input("enter any input ")
 if string == string[::-1]:
  print("given input is palindrome")
else:
  print("given input is not palindrome")

enter any input 121
given input is palindrome

In [ ]:
#finding the smallest of three numbers

num1 = int(input("enter num1 "))
num2 = int(input("enter num2 "))
num3 = int(input("enter num1 "))

if num1<num2 and num1<num3:
  print("num1 is smallest ",num1)
elif num2<num1 and num2<num3:
  print("num2 is smallest ",num2)
else:
  print("num3 is smallest ",num3)

enter num1 20
enter num2 10
enter num1 30
num2 is smallest  10

In [ ]:
#max num in a list

list1 = [20,30,20,10,30]
max_num = max(list1)
print(max_num)

30

In [ ]:
#min num in a list

list1 = [20,30,20,10,30]
min_num = min(list1)
print(min_num)

10

In [ ]:
#reverse of a string

str1 = "pranay is a good boy"
print(str1[::-1])

yob doog a si yanarp

In [ ]:
# count vowels in input

word1 = (input("enter a word  "))
string = word1.lower()
vowels = "aeiou"

count = 0

for i in word1:
  if i in vowels:
    count = count + 1
print("count of vowels in given word ",count)

enter a word  hello
count of vowels in given word  2

In [ ]:
#frequency of each value in list

my_list = [1, 2, 3, 3, 4, 4, 4, 4]
frequency = {}

for i in my_list:
  if i in frequency:
    frequency[i] += 1
  else:
    frequency[i] = 1
print(frequency)

{1: 1, 2: 1, 3: 2, 4: 4}

In [ ]:
#remove duplicates from list

list2 = [20,30,20,10,20,30]
print(set(list2))

{10, 20, 30}

In [ ]:
#copy string
str1 = "pranay is a good boy"
str2 = str1
print(str2)

pranay is a good boy

In [ ]:
x = 10
y = 8

x, y = y,x

print("value of x ",x)
print("value of y",y)

value of x  8
value of y 10

In [ ]:
#num is prime or not

num = int(input("enter a number "))
for i in range(2,num):
  if num % i == 0:
    print('Not Prime')
else:
 print("Prime")

enter a number 11
Prime

In [ ]:
#taking common elements from 2 lists

list1 = [10,20,30,80,1,2,3]
list2 = [10,70,55,2,20]

set1 = set(list1)
set2 = set(list2)

common_elements = set1 & set2
print(common_elements)

{2, 10, 20}

In [ ]:
#second largest num in a list

list1 = [10,20,30,80,1,2,3]
list1.sort()
print(f"second largest number is ",{list1[-2 ]})

second largest number is  {30}

In [ ]:
#finding the largest of three numbers

num1 = int(input("enter num1 "))
num2 = int(input("enter num2 "))
num3 = int(input("enter num1 "))

if num1>num2 and num1>num3:
  print("num1 is largest ",num1)
elif num2>num1 and num2>num3:
  print("num2 is largest ",num2)
else:
  print("num3 is larg3est ",num3)

enter num1 10
enter num2 20
enter num1 0
num2 is largest  20

In [ ]:
strng = "iam a good boy"
res = ''.join(sorted(strng))
print(res)

   aabdgimoooy