<a href="https://colab.research.google.com/github/pranaydurnala/Python-Basics/blob/main/Data_types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#int data type
a = 20
b = 30
c = 10
d = 10
e = 27
f = 70
num1 = 25
num2 = 30
num3 = 35
num4 = 45

print(a,b,c,d,e,f,num1,num2,num3,num4)

20 30 10 10 27 70 25 30 35 45

In [3]:
#float data type
ze = 50.98
tr = 78.0987
yu = 675.9
pr = 765.90
mo = 659.87
we = 43.768
an = 679.9
ay = 564780.9876
ku = 76598.8790
ma = 7659.987

print(ze,tr,yu,pr,mo,we,an,ay,ku,ma)

50.98 78.0987 675.9 765.9 659.87 43.768 679.9 564780.9876 76598.879 7659.987

In [6]:
#complex
AB = 24+0j
BC = 46+1j
CD = 78+20j
DE = 56+25j
FG = 43+32j
HI = 245+3456j
GH = 23+23j
JK = 23+21j
LM = 46+45j
DF = 222+23j

print(AB,BC,CD,DE,FG,HI,GH,JK,LM,DF)

(24+0j) (46+1j) (78+20j) (56+25j) (43+32j) (245+3456j) (23+23j) (23+21j) (46+45j) (222+23j)

In [7]:
#Type conversions

#int to float
a = float(20)
b = float(30)
c = float(10)
d = float(10)
e = float(27)
f = float(70)
num1 = float(25)
num2 = float(30)
num3 = float(35)
num4 = float(45)

print(a,b,c,d,e,f,num1,num2,num3,num4)

20.0 30.0 10.0 10.0 27.0 70.0 25.0 30.0 35.0 45.0

In [8]:
#Type conversions

#int to complex
a = complex(20)
b = complex(30)
c = complex(10)
d = complex(10)
e = complex(27)
f = complex(70)
num1 = complex(25)
num2 = complex(30)
num3 = complex(35)
num4 = complex(45)

print(a,b,c,d,e,f,num1,num2,num3,num4)

(20+0j) (30+0j) (10+0j) (10+0j) (27+0j) (70+0j) (25+0j) (30+0j) (35+0j) (45+0j)

In [9]:
ze = int(50.98)
tr = int(78.0987)
yu = int(675.9)
pr = int(765.90)
mo = int(659.87)
we = int(43.768)
an = int(679.9)
ay = int(564780.9876)
ku = int(76598.8790)
ma = int(7659.987)

print(ze,tr,yu,pr,mo,we,an,ay,ku,ma)

50 78 675 765 659 43 679 564780 76598 7659

In [11]:
ze = complex(50.98)
tr = complex(78.0987)
yu = complex(675.9)
pr = complex(765.90)
mo = complex(659.87)
we = complex(43.768)
an = complex(679.9)
ay = complex(564780.9876)
ku = complex(76598.8790)
ma = complex(7659.987)

print(ze,tr,yu,pr,mo,we,an,ay,ku,ma)

(50.98+0j) (78.0987+0j) (675.9+0j) (765.9+0j) (659.87+0j) (43.768+0j) (679.9+0j) (564780.9876+0j) (76598.879+0j) (7659.987+0j)