<a href="https://colab.research.google.com/github/pranaydurnala/Python-Basics/blob/main/dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
#dictionary

d1 = {"name" : "pranay kumar", "age" : 22, "gender" : "male"}
print(d1)

d2 = {"city": " warangal", "state" : "telangana","pincode" : 506002}
print(d2)

d3 = {"fathers_name" : "vijay kumar","mobile_num" : 9618613731}
print(d3)

{'name': 'pranay kumar', 'age': 22, 'gender': 'male'}
{'city': ' warangal', 'state': 'telangana', 'pincode': 506002}
{'fathers_name': 'vijay kumar', 'mobile_num': 9618613731}

In [4]:
#accessing items
#get() is used to get values that are assigned to the keys

car = {
    "carname" : "mustang",
    "company" : "ford",
    "year" : 1965
}
print(car.get("carname"))

dict2 = {
    "firstname" : "pranay",
    "middlename" : "kumar",
    "lastname" : "durnala"
}
print(dict2.get("firstname"))

dict3 = {
    'name': 'John',
    'age': 30,
    'city': 'New York'
    }

print(dict3.get('name'))
print(dict3.get('age'))
print(dict3.get('city'))

dict5 = {
    "school" : "greenwood high school",
    "intermediate" : "alphores junior college",
    "btech" : "vaagdevi college of engineering"
}
print(dict5.get('btech'))

dict6 = {
    "school location" : "hunter road",
    "inter location" : "hanamkonda",
    "btech location" : "bollikunta"
}

print(dict6.get("school location"))


dict4 = {
    "firstname" : "pranay",
    "middlename" : "kumar",
    "lastname" : "durnala"
}
print(dict4)

#adding of another key in the dictionary
dict4["age"] = 22
print(dict4)

dict4["gender"] = "male"
print(dict4)

dict4["bloodgroup"] = "ab+"
print(dict4)

#dict3
dict3["state"] = "losangles"
print(dict3)

#keys()
print(dict2.keys())
print(dict3.keys())
print(dict4.keys())
print(dict5.keys())
print(dict6.keys())

#values()
print(dict2.values())
print(dict3.values())
print(dict4.values())
print(dict5.values())
print(dict6.values())

mustang
pranay
John
30
New York
vaagdevi college of engineering
hunter road
{'firstname': 'pranay', 'middlename': 'kumar', 'lastname': 'durnala'}
{'firstname': 'pranay', 'middlename': 'kumar', 'lastname': 'durnala', 'age': 22}
{'firstname': 'pranay', 'middlename': 'kumar', 'lastname': 'durnala', 'age': 22, 'gender': 'male'}
{'firstname': 'pranay', 'middlename': 'kumar', 'lastname': 'durnala', 'age': 22, 'gender': 'male', 'bloodgroup': 'ab+'}
{'name': 'John', 'age': 30, 'city': 'New York', 'state': 'losangles'}
dict_keys(['firstname', 'middlename', 'lastname'])
dict_keys(['name', 'age', 'city', 'state'])
dict_keys(['firstname', 'middlename', 'lastname', 'age', 'gender', 'bloodgroup'])
dict_keys(['school', 'intermediate', 'btech'])
dict_keys(['school location', 'inter location', 'btech location'])
dict_values(['pranay', 'kumar', 'durnala'])
dict_values(['John', 30, 'New York', 'losangles'])
dict_values(['pranay', 'kumar', 'durnala', 22, 'male', 'ab+'])
dict_values(['greenwood high school', 'alphores junior college', 'vaagdevi college of engineering'])
dict_values(['hunter road', 'hanamkonda', 'bollikunta'])

In [20]:
#update()
d3 = {
    "fathername":"vijaykumar",
    "mobilenum":"098678908"
}
new_entry ={"surname" : "durnala"}
d3.update(new_entry)
print(d3)

d4 = {
    "school location" : "hunter road",
    "inter location" : "hanamkonda",
    "btech location" : "bollikunta"
}

d4_new_entry = {"masters_location" : "united states"}
d4.update(d4_new_entry)
print(d4)

{'fathername': 'vijaykumar', 'mobilenum': '098678908', 'surname': 'durnala'}
{'school location': 'hunter road', 'inter location': 'hanamkonda', 'btech location': 'bollikunta', 'masters_location': 'united states'}

In [24]:
#pop()
my_dict = {'a': 1, 'b': 2, 'c': 3}
my_dict.pop("a")
print(my_dict)

dict10 = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
dict10.pop("year")
print(dict10)

dict11 = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
dict10.pop("model")
print(dict11)

{'b': 2, 'c': 3}
{'brand': 'Ford', 'model': 'Mustang'}
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [26]:
#popitem()
#removes last item entered in the dictionary
my_dict = {'a': 1, 'b': 2, 'c': 3}
my_dict.popitem()
print(my_dict)

dict10 = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
dict10.popitem()
print(dict10)

dict11 = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
dict11.popitem()
print(dict11)

{'a': 1, 'b': 2}
{'brand': 'Ford', 'model': 'Mustang'}
{'brand': 'Ford', 'model': 'Mustang'}

In [31]:
#copy()

my_dict = {'a': 1, 'b': 2, 'c': 3}
new_dict=my_dict.copy()
print(new_dict)

{'a': 1, 'b': 2, 'c': 3}

In [32]:
#clear()
#clears all the keys and values in the dicionary
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()
print(thisdict)

{}