<a href="https://colab.research.google.com/github/pranaydurnala/Python-Basics/blob/main/list_data_type.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#empty list
list1 = []
print(list1)

[]

In [ ]:
#list with numbers
list1 = [1,2,3,4,5,6,7,8,9,10]
list2 = [11,12,13,14,14,15,16,17,18,19,20]
list3 = [11,22,33,44,55,66,77,88,99]
list4 = [10,20,30,40,50,60,70,80,90]
print(list1[2])
print(list2[5])
print(list3[-6])
print(list4[-5])

#list with strings
my_list1 = ["gopal","lokesh","pranay","pranay","sai krishna"]
my_list2 = ["pranay","deepika","keerthysuresh","sreeleela","rashi"]
my_list3 = ["srujan","hemanth","srikanth","shiva","kiran"]
my_list4 = ["prudhvi","akshith","monu","smiley","kannaya"]
print(my_list1[3])
print(my_list2[0])
print(my_list3[-2])
print(my_list4[-1])

3
15
44
50
pranay
pranay
shiva
kannaya

In [ ]:
#Slicing-numbers
list1 = [1,2,3,4,5,6,7,8,9,10]
list2 = [11,12,13,14,14,15,16,17,18,19,20]
list3 = [11,22,33,44,55,66,77,88,99]
list4 = [10,20,30,40,50,60,70,80,90]
print(list1[1:3])
print(list3[4:7])
print(list2[-3:-6])
print(list4[-8:-1])

#slicing-strings
my_list1 = ["gopal","lokesh","pranay","pranay","sai krishna"]
my_list2 = ["pranay","deepika","keerthysuresh","sreeleela","rashi"]
my_list3 = ["srujan","hemanth","srikanth","shiva","kiran"]
my_list4 = ["prudhvi","akshith","monu","smiley","kannaya"]
print(my_list1[1:3])
print(my_list2[4:7])
print(my_list3[-3:-6])
print(my_list4[-8:-1])

[2, 3]
[55, 66, 77]
[]
[20, 30, 40, 50, 60, 70, 80]
['lokesh', 'pranay']
['rashi']
[]
['prudhvi', 'akshith', 'monu', 'smiley']

In [ ]:
#concatination()

list1 = [1,2,3,4,5,6,7,8,9,10]
list2 = [11,12,13,14,14,15,16,17,18,19,20]
print(list1+list2)
print(list2+list1)

#with string
my_list1 = ["gopal","lokesh","pranay","pranay","sai krishna"]
my_list2 = ["pranay","deepika","keerthysuresh","sreeleela","rashi"]

print(my_list1+my_list2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 14, 15, 16, 17, 18, 19, 20]
[11, 12, 13, 14, 14, 15, 16, 17, 18, 19, 20, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
['gopal', 'lokesh', 'pranay', 'pranay', 'sai krishna', 'pranay', 'deepika', 'keerthysuresh', 'sreeleela', 'rashi']

In [ ]:
#repetation()

list1 = [1,2,3,4,5,6,7,8,9,10]
list2 = [11,12,13,14,14,15,16,17,18,19,20]
list3 = [11,22,33,44,55,66,77,88,99]
list4 = [10,20,30,40,50,60,70,80,90]

print(list1 * 2)
print(list2 * 1)
print(list3 * 3)

my_list1 = ["gopal","lokesh","pranay","pranay","sai krishna"]
my_list2 = ["pranay","deepika","keerthysuresh","sreeleela","rashi"]
my_list3 = ["srujan","hemanth","srikanth","shiva","kiran"]
my_list4 = ["prudhvi","akshith","monu","smiley","kannaya"]

print(my_list1 * 3)
print(my_list2 * 2)
print(my_list3 * 2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[11, 12, 13, 14, 14, 15, 16, 17, 18, 19, 20]
[11, 22, 33, 44, 55, 66, 77, 88, 99, 11, 22, 33, 44, 55, 66, 77, 88, 99, 11, 22, 33, 44, 55, 66, 77, 88, 99]
['gopal', 'lokesh', 'pranay', 'pranay', 'sai krishna', 'gopal', 'lokesh', 'pranay', 'pranay', 'sai krishna', 'gopal', 'lokesh', 'pranay', 'pranay', 'sai krishna']
['pranay', 'deepika', 'keerthysuresh', 'sreeleela', 'rashi', 'pranay', 'deepika', 'keerthysuresh', 'sreeleela', 'rashi']
['srujan', 'hemanth', 'srikanth', 'shiva', 'kiran', 'srujan', 'hemanth', 'srikanth', 'shiva', 'kiran']

In [ ]:
#append()
list1 = [1,2,3,4,5,6,7,8,9,10]
list1.append(5)
print(list1)

list2 = [11,12,13,14,14,15,16,17,18,19,20]
list2.append(8)
print(list2)

list3 = [11,22,33,44,55,66,77,88,99]
list3.append(9)
print(list3)

list4 = [10,20,30,40,50,60,70,80,90]
list4.append(12)
print(list4)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 5]
[11, 12, 13, 14, 14, 15, 16, 17, 18, 19, 20, 8]
[11, 22, 33, 44, 55, 66, 77, 88, 99, 9]
[10, 20, 30, 40, 50, 60, 70, 80, 90, 12]

In [41]:
#extend()
list1 = [1,2,3,4,5,6,7,8,9,10]
mylist = (1,5)
list1.extend(mylist)
print(list1)

list2 = [11,12,13,14,14,15,16,17,18,19,20]
mylist2 = (5,8)
list2.extend(mylist2)
print(list2)

list3 = [11,22,33,44,55,66,77,88,99]
mylist3 = (20,90)
list3.extend(mylist3)
print(list3)

list4 = [10,20,30,40,50,60,70,80,90]
mylist4 = (15,30)
list4.extend(mylist4)
print(list4)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 5]
[11, 12, 13, 14, 14, 15, 16, 17, 18, 19, 20, 5, 8]
[11, 22, 33, 44, 55, 66, 77, 88, 99, 20, 90]
[10, 20, 30, 40, 50, 60, 70, 80, 90, 15, 30]

In [ ]:
9#Insert()

list1 = [1,2,3,4,5,6,7,8,9,10]
list2 = [11,12,13,14,14,15,16,17,18,19,20]
list3 = [11,22,33,44,55,66,77,88,99]
list4 = [10,20,30,40,50,60,70,80,90]
list1.insert(1,2)
print(list1)
list2.insert(15,16)
print(list2)
list3.insert(22,40)
print(list3)
list4.insert(30,32)
print(list4)

In [ ]:
#pop()
batch1 = ['pranay','lokesh','kittu','pranayreddy']
pop_element = batch1.pop(2)
print(batch1)
print(pop_element)

batch2 = ["deepika","keerthysuresh","sreeleela","rashi"]
pop_element = batch2.pop(3)
print(batch2)
print(pop_element)

csd_rollno = ['20641A6723','20641A6722',"20641A6733",'20641A6744']
pop_element = csd_rollno.pop(0)
print(csd_rollno)
print(pop_element)

csm_rollno = ["prudhvi","akshith","monu","smiley","kannaya"]
pop_element = csm_rollno.pop(1)
print(csm_rollno)
print(pop_element)

['pranay', 'lokesh', 'pranayreddy']
kittu
['deepika', 'keerthysuresh', 'sreeleela']
rashi
['20641A6722', '20641A6733', '20641A6744']
20641A6723
['prudhvi', 'monu', 'smiley', 'kannaya']
akshith

In [ ]:
#remove()
list1 = [1,2,3,4,5,6,7,8,9,10]
removing_num = list1.remove(3)
print(list1)

list2 = [11,12,13,14,14,15,16,17,18,19,20]
removing_num = list2.remove(16)
print(list2)

list3 = ["prudhvi","akshith","monu","smiley","kannaya"]
removing_num = list3.remove('akshith')
print(list3)

list4 = ['20641A6723','20641A6722',"20641A6733",'20641A6744']
removing_num = list4.remove('20641A6722')
print(list4)

[1, 2, 4, 5, 6, 7, 8, 9, 10]
[11, 12, 13, 14, 14, 15, 17, 18, 19, 20]
['prudhvi', 'monu', 'smiley', 'kannaya']
['20641A6723', '20641A6733', '20641A6744']

In [ ]:
#index()

list1 = [1,2,3,4,5,6,7,8,9,10]
index_num = list1.index(3)
print(index_num)

list2 = [11,12,13,14,14,15,16,17,18,19,20]
index_num = list2.index(16)
print(index_num)

list3 = ["prudhvi","akshith","monu","smiley","kannaya"]
index_num = list3.index('akshith')
print(index_num)

list4 = ['20641A6723','20641A6722',"20641A6733",'20641A6744']
index_num = list4.index('20641A6722')
print(index_num)

2
6
1
1

In [31]:
#count()

list1 = [1,2,3,3,4,5,6,7,8,9,10]
count_num = list1.count(3)
print(count_num)

list2 = [11,12,13,14,16,14,15,16,17,18,19,20]
count_num = list2.count(16)
print(count_num)

list3 = ["prudhvi","akshith","monu","smiley","kannaya"]
count_num = list3.count('akshith')
print(count_num)

list4 = ['20641A6723','20641A6722',"20641A6733",'20641A6744']
count_num = list4.count('20641A6722')
print(count_num)

2
2
1
1

In [26]:
#sort()
list1 = [1,2,3,3,4,5,6,7,8,9,10]
list1.sort()
print(list1)

list2 = [11,12,13,14,16,14,15,16,17,18,19,20]
list2.sort()
print(list2)

list3 = ["prudhvi","akshith","monu","smiley","kannaya"]
list3.sort()
print(list3)

list4 = ['20641A6723','20641A6722',"20641A6733",'20641A6744']
list4.sort()
print(list4)

[1, 2, 3, 3, 4, 5, 6, 7, 8, 9, 10]
[11, 12, 13, 14, 14, 15, 16, 16, 17, 18, 19, 20]
['akshith', 'kannaya', 'monu', 'prudhvi', 'smiley']
['20641A6722', '20641A6723', '20641A6733', '20641A6744']

In [27]:
#reverse()
list1 = [1,2,3,3,4,5,6,7,8,9,10]
list1.reverse()
print(list1)

list2 = [11,12,13,14,16,14,15,16,17,18,19,20]
list2.reverse()
print(list2)

list3 = ["prudhvi","akshith","monu","smiley","kannaya"]
list3.reverse()
print(list3)

list4 = ['20641A6723','20641A6722',"20641A6733",'20641A6744']
list4.reverse()
print(list4)

[10, 9, 8, 7, 6, 5, 4, 3, 3, 2, 1]
[20, 19, 18, 17, 16, 15, 14, 16, 14, 13, 12, 11]
['kannaya', 'smiley', 'monu', 'akshith', 'prudhvi']
['20641A6744', '20641A6733', '20641A6722', '20641A6723']

In [28]:
#copy()

list1 = [1,2,3,3,4,5,6,7,8,9,10]
copy_num = list1.copy()
print(copy_num)

list2 = [11,12,13,14,16,14,15,16,17,18,19,20]
copy_num = list2.copy()
print(copy_num)

list3 = ["prudhvi","akshith","monu","smiley","kannaya"]
copy_num = list3.copy()
print(copy_num)

list4 = ['20641A6723','20641A6722',"20641A6733",'20641A6744']
copy_num = list4.copy()
print(copy_num)

[1, 2, 3, 3, 4, 5, 6, 7, 8, 9, 10]
[11, 12, 13, 14, 16, 14, 15, 16, 17, 18, 19, 20]
['prudhvi', 'akshith', 'monu', 'smiley', 'kannaya']
['20641A6723', '20641A6722', '20641A6733', '20641A6744']

In [38]:
#len()
list1 = [1,2,3,3,4,5,6,7,8,9,10]
print("length of list1 is",len(list1))

list2 = [11,12,13,14,16,14,15,16,17,18,19,20]
print("length of list2 is",len(list2))

list3 = ["prudhvi","akshith","monu","smiley","kannaya"]
print("length of list3 is",len(list3))

list4 = ['20641A6723','20641A6722',"20641A6733",'20641A6744']
print("length of list4 is",len(list4))

length of list1 is 11
length of list2 is 12
length of list3 is 5
length of list4 is 4

In [40]:
#min() and max()
list1 = [1,2,3,3,4,5,6,7,8,9,10]
print("Maximum element in the list1 is: ",max(list1))
print("Minimum element in the list1 is: ",min(list1))

list2 = [11,12,13,14,16,14,15,16,17,18,19,20]
print("Maximum element in the list3 is: ",max(list2))
print("Minimum element in the list3 is: ",min(list2))

list3 = ["prudhvi","akshith","monu","smiley","kannaya"]
print("Maximum element in the list3 is: ",max(list3))
print("Minimum element in the list3 is: ",min(list3))

list4 = ['20641A6723','20641A6722',"20641A6733",'20641A6744']
print("Maximum element in the list4 is: ",max(list4))
print("Minimum element in the list4 is: ",min(list4))

Maximum element in the list1 is:  10
Minimum element in the list1 is:  1
Maximum element in the list3 is:  20
Minimum element in the list3 is:  11
Maximum element in the list3 is:  smiley
Minimum element in the list3 is:  akshith
Maximum element in the list4 is:  20641A6744
Minimum element in the list4 is:  20641A6722