<a href="https://colab.research.google.com/github/pranaydurnala/Python-Basics/blob/main/operators.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#arthmetic operators
a = 5
b = 9
#addition
c = a + b
print(c)
#subtraction
c = a - b
print(c)
#multiplication
c = a * b
print(c)
#division
c = a / b
print(c)
#modulus
c = a % b
print(c)
#exponentiation
c = a ** b
print(c)
#floor division
c = a // b
print(c)

14
-4
45
0.5555555555555556
5
1953125
0

In [5]:
from re import L
#ASSIGNMENT OPERATORS
#addition assignment
a = 18
b = 14
a += b
print(a)
#substraction assignment
x = 10
y = 2
x -= y
print(x)
#multiplication assignment
r = 12
s = 4
r *= s
print(r)
#division assignment
p = 13
q = 9
p /= q
print(p)
#modulus assignment
k = 19
l = 6
k %= l
print(k)
#floor assignment
o = 17
d = 13
o //= d
print(o)

32
8
48
1.4444444444444444
1
1

In [6]:
#COMPARISION OPERATORS
#equal to
x = 70
y = 80
z = 90
print(x == y)
print(x == z)
#not equal to
print(x != y)
print(x != z)
#greater than
print(x > y)
print(x > z)
#less than
print(x < y)
print(y < x)
#greater than or equal to
print(x >= y)
print(z >= x)
#less than or equal to
print(x <= y)
print(y <= z)

False
False
True
True
False
False
True
False
False
True
True
True

In [7]:
#LOGICAL OPERATORS
a = 19
b = 30
#and operator
print(a > b and b < a)
print(a < b and b > a)
#or operator
print(a > b or b > a)
print(a > b or b < a)
#not operation
print(not(a > b or b > a))
print(not(a < b and b < a))

False
True
True
False
False
True

In [10]:
#identity operators
name1 = 5
name2 = 8
print(name1 is name2)
print(name1 is not name2)

elder = 'pranay'
younger = 'nandha'
print(elder is younger)
print(elder is not younger)

age1 = 8
age2 = 8
print(age1 is age2)
print(age1 is not age2)

False
True
False
True
True
False

In [12]:
#membership operators

list1 = 1,2,3,4,5,8
list2 = 51,72,90,56,34,22

print(5 in list1)
print(51 in list1)
print(1 not in list2)
print(90 not in list2)
print(56 in list2)

True
False
True
False
True