<a href="https://colab.research.google.com/github/pranaydurnala/Python-Basics/blob/main/set__datatype.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#sets()
emp_set = set()
emp_set

set()

In [8]:
#sets
fruits = {"apple","banana"}
print(fruits)

names = {"pranay","vinay"}
print(names)

institutes = {"teks academy","qspiders","jspiders"}
print(institutes)

languages = {"python","java","c"}
print(languages)

vegetables = {"capsicum","Bitterguard","tomato"}
print(vegetables)

{'apple', 'banana'}
{'pranay', 'vinay'}
{'qspiders', 'teks academy', 'jspiders'}
{'python', 'java', 'c'}
{'Bitterguard', 'tomato', 'capsicum'}

In [10]:
#add()
fruits = {"apple","banana"}
fruits.add("grapes")
print(fruits)

names = {"pranay","vinay"}
names.add("kittu")
print(names)

institutes = {"teks academy","qspiders","jspiders"}
institutes.add("360digitmg")
print(institutes)

languages = {"python","java","c"}
languages.add("javascript")
print(languages)

vegetables = {"capsicum","Bitterguard","tomato"}
vegetables.add("potato")
print(vegetables)

{'grapes', 'apple', 'banana'}
{'pranay', 'kittu', 'vinay'}
{'360digitmg', 'qspiders', 'teks academy', 'jspiders'}
{'python', 'javascript', 'java', 'c'}
{'Bitterguard', 'tomato', 'capsicum', 'potato'}

In [8]:
#update()

fruits = {"apple","banana"}
smallfruits = ["grapes","kiwi"]
updated_set = fruits.update(smallfruits)
print(fruits)

names = {"pranay","vinay"}
new_names = {"kittu","somesh"}
names.update(new_names)
print(names)

institutes = {"teks academy","qspiders","jspiders"}
new_institutes = ("360","scalar","excelr")
institutes.update(new_institutes)
print(institutes)

languages = {"python","java","c"}
new_languages=("javascript","django",'telugu')
languages.update(new_languages)
print(new_languages)

vegetables = {"capsicum","Bitterguard","tomato"}
new_veg = {"ladysfinger","cabbage"}
vegetables.update(new_veg)
print(vegetables)

{'banana', 'apple', 'kiwi', 'grapes'}
{'vinay', 'somesh', 'kittu', 'pranay'}
{'scalar', 'teks academy', 'jspiders', '360', 'excelr', 'qspiders'}
('javascript', 'django', 'telugu')
{'tomato', 'ladysfinger', 'cabbage', 'capsicum', 'Bitterguard'}

In [18]:
#discarda()

my_set1 = {"gopal","lokesh","pranay","pranay","sai krishna"}
my_set1.discard("gopal")
print(my_set1)

my_set2 = {"pranay","deepika","keerthysuresh","sreeleela","rashi"}
my_set2.discard("deepika")
print(my_set2)
my_set3 = {"srujan","hemanth","srikanth","shiva","kiran"}
my_set3.discard("srikanth")
print(my_set3)

my_set4 = {"prudhvi","akshith","monu","smiley","kannaya"}
my_set4.discard("monu")
print(my_set4)

institutes = {"teksacademy","qspiders","jspiders"}
institutes.discard("teksacademy")
print(institutes)

{'sai krishna', 'pranay', 'lokesh'}
{'sreeleela', 'rashi', 'pranay', 'keerthysuresh'}
{'kiran', 'shiva', 'hemanth', 'srujan'}
{'smiley', 'akshith', 'kannaya', 'prudhvi'}
{'jspiders', 'qspiders'}

In [21]:
#remove()
my_set1 = {"gopal","lokesh","pranay","pranay","sai krishna"}
my_set1.remove("pranay",)
print(my_set1)

my_set2 = {"pranay","deepika","keerthysuresh","sreeleela","rashi"}
my_set2.remove("deepika")
print(my_set2)

my_set3 = {"srujan","hemanth","srikanth","shiva","kiran"}
my_set3.remove("srikanth")
print(my_set3)

my_set4 = {"prudhvi","akshith","monu","smiley","kannaya"}
my_set4.remove("monu")
print(my_set4)

institutes = {"teksacademy","qspiders","jspiders"}
institutes.remove("teksacademy")
print(institutes)

{'sai krishna', 'lokesh', 'gopal'}
{'sreeleela', 'rashi', 'pranay', 'keerthysuresh'}
{'kiran', 'shiva', 'hemanth', 'srujan'}
{'smiley', 'akshith', 'kannaya', 'prudhvi'}
{'jspiders', 'qspiders'}

In [23]:
#clear()

my_set1 = {"gopal","lokesh","pranay","pranay","sai krishna"}
my_set1.clear()
print(my_set1)

my_set2 = {"pranay","deepika","keerthysuresh","sreeleela","rashi"}
my_set2.clear()
print(my_set2)

my_set3 = {"srujan","hemanth","srikanth","shiva","kiran"}
my_set3.clear()
print(my_set3)

my_set4 = {"prudhvi","akshith","monu","smiley","kannaya"}
my_set4.clear()
print(my_set4)

set()
set()
set()
set()

In [26]:
#copy()
set1 = {1,2,3,4,5,6,7,8,9,10}
set5 = set1.copy()
print(set5)

set2 = {11,12,13,14,14,15,16,17,18,19,20}
set6 = set2.copy()
print(set6)

set3 = {11,22,33,44,55,66,77,88,99}
set7 = set3.copy()
print(set7)

set4 = {10,20,30,40,50,60,70,80,90}
set8 = set4.copy()
print(set8)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{11, 12, 13, 14, 15, 16, 17, 18, 19, 20}
{33, 66, 99, 11, 44, 77, 22, 55, 88}
{70, 40, 10, 80, 50, 20, 90, 60, 30}

In [29]:
#pop()
set1 = {1,2,3,4,5,6,7,8,9,10}
set1.pop()
print(set5)

set2 = {11,12,13,14,14,15,16,17,18,19,20}
set2.pop()
print(set2)

set3 = {11,22,33,44,55,66,77,88,99}
set3.pop()
print(set3)

set4 = {10,20,30,40,50,60,70,80,90}
set4.pop()
print(set8)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{12, 13, 14, 15, 16, 17, 18, 19, 20}
{66, 99, 11, 44, 77, 22, 55, 88}
{70, 40, 10, 80, 50, 20, 90, 60, 30}

In [30]:
#issubset()
#The issubset() method returns True if all items in the set exists in the specified set, otherwise it returns False.
set1 = {1 , 2 , 3 , 4 , 5 , 6 , 7}
set2 = {3 , 4 , 5}
results = set1.issubset(set2)
print(results)
results = set2 <= set1
print(results)
set1 = {1 , 2 , 3 , 4 , 5 , 6 , 7}
set2 = {3 , 4 , 5}
results = set1.issubset(set2)
print(results)
results = set2 <= set1
print(results)

False
True

In [34]:
#union |
#1) Union, include all set1 and set2, no duplicate values
set1 = {1,2,3,4,5,6,7,8,9,10}
set2 = {11,12,13,14,14,15,16,17,18,19,20}
set3 = {11,22,33,44,55,66,77,88,99}
set4 = {10,20,30,40,50,60,70,80,90}
set5 = {"gopal","lokesh","pranay","pranay","sai krishna"}
set6 = {"pranay","deepika","keerthysuresh","sreeleela","rashi"}

print(set1 | set2)
print(set2 | set5)
print(set6 | set3)
print(set5 | set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20}
{'sai krishna', 'lokesh', 'gopal', 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 'pranay'}
{33, 'deepika', 66, 99, 11, 44, 77, 'pranay', 'keerthysuresh', 'sreeleela', 'rashi', 22, 55, 88}
{'sai krishna', 1, 2, 3, 4, 'lokesh', 5, 'gopal', 6, 7, 8, 9, 10, 'pranay'}

In [38]:
#intersection &
#includes only common elements, no duplicate elements

set1 = {1,2,3,4,5,6,7,8,9,10}
set2 = {11,12,13,14,14,15,16,7,2,4,17,18,19,20}
set3 = {11,22,33,44,55,66,77,88,99}
set4 = {10,20,30,40,50,60,70,80,90}
set5 = {"gopal","lokesh","pranay","pranay","sai krishna"}
set6 = {"pranay","deepika","keerthysuresh","sreeleela","rashi"}

print(set1 & set2)
print(set2 & set3)
print(set6 & set5)

{2, 4, 7}
{11}
{'pranay'}
set()

In [39]:
#Difference
#removes B from A if A-B , removes A from B if B-A and displays remaining elements
set1 = {1,2,3,4,5,6,7,8,9,10}
set2 = {11,12,13,14,14,15,16,7,2,4,17,18,19,20}
set3 = {11,22,33,44,55,66,77,80,90,30,88,99}
set4 = {10,20,30,40,50,60,70,80,90}
set5 = {"gopal","lokesh","pranay","pranay","sai krishna"}
set6 = {"pranay","deepika","keerthysuresh","sreeleela","rashi"}

print(set1 - set2)
print(set2 - set3)
print(set6 - set5)

{1, 3, 5, 6, 8, 9, 10}
{2, 4, 7, 12, 13, 14, 15, 16, 17, 18, 19, 20}
{'deepika', 'sreeleela', 'rashi', 'keerthysuresh'}

In [40]:
#set symmetric
#removes common elements and displays remaining

set1 = {1,2,3,4,5,6,7,8,9,10}
set2 = {11,12,13,14,14,15,16,7,2,4,17,18,19,20}
set3 = {11,22,33,44,55,66,77,80,90,30,88,99}
set4 = {10,20,30,40,50,60,70,80,90}
set5 = {"gopal","lokesh","pranay","pranay","sai krishna"}
set6 = {"pranay","deepika","keerthysuresh","sreeleela","rashi"}

print(set1 ^ set2)
print(set2 ^ set3)
print(set6 ^ set5)

{1, 3, 5, 6, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20}
{2, 4, 7, 12, 13, 14, 15, 16, 17, 18, 19, 20, 22, 30, 33, 44, 55, 66, 77, 80, 88, 90, 99}
{'sai krishna', 'deepika', 'lokesh', 'gopal', 'keerthysuresh', 'sreeleela', 'rashi'}