<a href="https://colab.research.google.com/github/pranaydurnala/Python-Basics/blob/main/string_operations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#concationation

firstname = "pranay"
middlename = "kumar"
lastname = "durnala"
fullname = firstname + " " + middlename + " " + lastname
print(fullname)

sentence1 = "i love treavelling"
sentence2 = "by flight"
full_sentence = sentence1 +" " + sentence2
print(full_sentence)

pranay kumar durnala
i love treavelling by flight

In [21]:
#repetation
sentence1 = "i love travelling"
sentence2 = "by flight "
full_sentence = sentence1 + " " + sentence2
print(full_sentence)
full_sentence * 3

firstname = "pranay"
middlename = "kumar"
lastname = "durnala "
fullname = firstname + " " + middlename + " " + lastname
print(fullname)
fullname * 4

i love travelling by flight
pranay kumar durnala

'pranay kumar durnala pranay kumar durnala pranay kumar durnala pranay kumar durnala '

In [23]:
#index
name = "pranay"
print(name[3])

fullname = "pranay kumar durnala"
print(fullname[13])

n
d

In [25]:
#slice

name = "pranay"
print(name[3:])

fullname = "pranay kumar durnala"
print(fullname[:-13])

nay
pranay

In [26]:
#Formating String
#1) Old style format
company = "accenture"
location = "Hyderabad"
formatted_string = "I have been working in %s at %s for 2 years."%(company,location)
print(formatted_string)

institute = "teks academy"
years = 15
formatted_string = "There is a institute called %s since %d years."%(institute,years)
print(formatted_string)

name = "pranay"
age = 22
formatted_string = "my name is %s and i am %d years old."%(name,age)
print(formatted_string)

#2) format method
vechicle = "bike"
time = 2
formatted_string = "I have went to college on my {} within {} hours.".format(vechicle,time)
print(formatted_string)

no_of_fruits = "three"
types_of_fruits = "apples"
formatted_string = "He ate all the {} {}.".format(no_of_fruits,types_of_fruits)
print(formatted_string)

#3) String interpolation (f-string)
place = "AMB mall"
no_of_people = 200
formatted_string = f"There are {no_of_people} members inside the {place}."
print(formatted_string)

jobs = 10
competition = "lot of people"
formatted_string = f"There are {competition} for just {jobs} openings."
print(formatted_string)

I have been working in accenture at Hyderabad for 2 years.
There is a institute called teks academy since 15 years.
my name is pranay and i am 22 years old.
I have went to college on my bike within 2 hours.
He ate all the three apples.
There are 200 members inside the AMB mall.
There are lot of people for just 10 openings.

In [32]:
#String Method
#1) len()
Name = "Pranay Kanchanakuntla"
length = len(Name)
print(length)

Location = "My current location is Hyderabad"
length = len(Location)
print(length)

#2) lower() / upper()
my_string = "i am leaving Hyderabad"
print(my_string.upper())

name = "pranay"
uppercase = my_string.upper()
print(uppercase)

skill = "I HAVE GOOD KNOWLEDGE IN PYTHOM"
print(skill.lower())

sports = "I PLAY CRICKET WELL"
print(sports.lower())


#3) Strip()
Village = " Sriramulapally      "
print(Village.strip())

abc = "   we are good friends     "
print(abc.strip())

#4) Replace
City = "I am in Hanamkonda"
new_string = City.replace("Hanamkonda","Hydearabad")
print(new_string)

skills = "I have good idea on Python and SQL"
print(skills.replace("idea on","knowledge in"))

#5) Spilt()
about = "Life has no Controls"
print(about.split())

location = "I have been living in Hanamkonda for 22 years"
print(location.split())

#6) join()
about = ['Life', 'has', 'no', 'Controls']
join_str = " ".join(about)
print(join_str)

location = ['I', 'have', 'been', 'living', 'in', 'Hanamkonda', 'for', '22', 'years']
print(' '.join(location))

21
32
I AM LEAVING HYDERABAD
I AM LEAVING HYDERABAD
i have good knowledge in pythom
i play cricket well
Sriramulapally
we are good friends
I am in Hydearabad
I have good knowledge in Python and SQL
['Life', 'has', 'no', 'Cntrl+Z']
['I', 'have', 'been', 'living', 'in', 'Hanamkonda', 'for', '22', 'years']
Life has no Controls
I have been living in Hanamkonda for 22 years