<a href="https://colab.research.google.com/github/pranaydurnala/Python-Basics/blob/main/string_data_type.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#string
name = "iam pranay kumar durnala from warangal"
print(name)

iam pranay kumar durnala from warangal

In [17]:
#concatination

firstname = "pranay"
middlename = "kumar"
lastname = "durnala"
fullname = firstname + " " + middlename + " " + lastname
print(fullname)

str1 = "iam"
str2 = "pranaykumar"
full_str = str1 + " " + str2
print(full_str)

sen1 = "i have joined in"
sen2 = "teks academy"
complete_sen = sen1 + ' ' + sen2
print(complete_sen)

pranay kumar durnala
iam pranaykumar
i have joined in teks academy

In [21]:
#repetation

firstname = "pranay"
middlename = "kumar"
lastname = "durnala,"
fullname = firstname + " " + middlename + " " + lastname
print(fullname * 2)

str1 = "iam"
str2 = "pranay kumar,"
full_str = str1 + " " + str2
print(full_str * 3)

sen1 = "i have joined in"
sen2 = "teks academy,"
complete_sen = sen1 + ' ' + sen2
print(complete_sen * 4)

pranay kumar durnala,pranay kumar durnala,
iam pranay kumar,iam pranay kumar,iam pranay kumar,
i have joined in teks academy,i have joined in teks academy,i have joined in teks academy,i have joined in teks academy,

In [8]:
#indexing

work = "iam working at teks academy"
print(work[15])

address = "im living in hyderabad"
print(address[20])

name = "durnala pranay kumar"
print(name[5])

mothersname = "durnala madhavi"
print(mothersname[5])

brothers_name = "durnala nandha kumar"
print(brothers_name[7])

t
a
l
l

In [13]:
#slicing
hobbies = "i love spending time with my family"
print(hobbies[5:10])

favoritesport = "i love playing cricket"
print(favoritesport[4:])

aim = "my aim is to secure a good job in a reputated mnc"
print(aim[:-7])

str4 = "19027,82930190,28903"
print(str4[:15])

str5 = "iuhensjJosnonsuhd"
print(str5[0:])

e spe
ve playing cricket
my aim is to secure a good job in a reputa
19027,82930190,
iuhensjJosnonsuhd

In [27]:
#formatting string
school = "greenwood high school"
passout_year = 2018
formatted_string = "i have completed my schooling in %s in the year %d."%(school,passout_year)
print(formatted_string)

academy = "teksacademy"
days = 20
formatted_string = "i have joined %s %d days ago."%(academy,days)
print(formatted_string)

#2format string
school = "greenwood high school"
passout_year = 2018
formatted_string = "i have completed my schooling in {} in the year {}.".format(school,passout_year)
print(formatted_string)

academy = "teksacademy"
days = 20
formatted_string = "i have joined {} {}days ago.".format(academy,days)
print(formatted_string)

#3 format string (f-string)
school = "greenwood high school"
passout_year = 2018
formatted_string = f"i have completed my schooling in {school} in the year {passout_year}."
print(formatted_string)

academy = "teksacademy"
days = 20
formatted_string = f"i have joined {academy} {days} days ago."

i have completed my schooling in greenwood high school in the year 2018.
i have joined teksacademy 20 days ago.
i have completed my schooling in greenwood high school in the year 2018.
i have joined teksacademy 20days ago.
i have completed my schooling in greenwood high school in the year 2018.

In [34]:
#len()
hobbies = "i love spending time with my family"
hobbies_length = len(hobbies)
print(hobbies_length)

favoritesport = "i love playing cricket"
favoritesport_len = len(favoritesport)
print(favoritesport_len)

aim = "my aim is to secure a good job in a reputated mnc"
aim_length = len(aim)
print(aim_length)

str4 = "19027,82930190,28903"
str4_len = len(str4)
print(str4_len)

str5 = "iuhensjJosnonsuhd"
str5_len = len(str5)
print(str5_len)

35
22
49
20
17

In [42]:
#upper() and lower()
living = "i have been living in warangal since 15 years"
place = living.upper()
print(place)

fathers_occupation = "my father works in an marketing company as a general manager"
occupation = fathers_occupation.upper()
print(occupation)

mothers_occupation = "she is a home maker"
occupation = mothers_occupation.upper()
print(occupation)

intermediate = "I HAVE COMPLETED MY 12TH CLASS IN ALPHORES JUNIOR COLLEGE"
twelth_class = intermediate.lower()
print(twelth_class)


brothers_degree = "MY BROTHER IS STUDYING IN KAKATIYA INSTITUTE OF TECHNOLOGY AND SCIENCE"
degree = brothers_degree.lower()
print(degree)

I HAVE BEEN LIVING IN WARANGAL SINCE 15 YEARS
MY FATHER WORKS IN AN MARKETING COMPANY AS A GENERAL MANAGER
SHE IS A HOME MAKER
i have completed my 12th class in alphores junior college
i have completed my btech in vaagdevi college of engineering
my brother is studying in kakatiya institute of technology and science

In [57]:
#strip

hobbies = "       i love spending time with my family       "
hobbies_strip = hobbies.strip()
print(hobbies_strip)

fathers_occupation = "        my father works in an marketing company as a general manager         "
occupation = fathers_occupation.strip()
print(occupation)

intermediate = "       I HAVE COMPLETED MY 12TH CLASS IN ALPHORES JUNIOR COLLEGE       "
twelth_class = intermediate.strip()
print(twelth_class)

#rstrip(deletes rightside spaces)

intermediate = "       I HAVE COMPLETED MY 12TH CLASS IN ALPHORES JUNIOR COLLEGE       "
twelth_class = intermediate.rstrip()
print(twelth_class)

favoritesport = "      i love playing cricket       "
favoritesport_len = favoritesport.rstrip()
print(favoritesport_len)

aim = "       my aim is to secure a good job in a reputated mnc       "
aim_length = aim.rstrip()
print(aim_length)


#lstrip (deletes leftside spaces)

str4 = "       19027,82930190,28903          "
str4_len = str4.lstrip()
print(str4_len)

hobbies = "       i love spending time with my family         "
habits = hobbies.lstrip()
print(habits)

brothers_degree = "        MY BROTHER IS STUDYING IN KAKATIYA INSTITUTE OF TECHNOLOGY AND SCIENCE             "
degree = brothers_degree.lstrip()
print(degree)

i love spending time with my family
my father works in an marketing company as a general manager
I HAVE COMPLETED MY 12TH CLASS IN ALPHORES JUNIOR COLLEGE
       I HAVE COMPLETED MY 12TH CLASS IN ALPHORES JUNIOR COLLEGE
      i love playing cricket
       my aim is to secure a good job in a reputated mnc
19027,82930190,28903
i love spending time with my family
MY BROTHER IS STUDYING IN KAKATIYA INSTITUTE OF TECHNOLOGY AND SCIENCE

In [63]:
#replace

City = "I am in united states of america"
print(City.replace("united states of america","Hydearabad"))

skills = "I have good idea on Python and SQL"
print(skills.replace("idea on","knowledge in"))

about_life = "my life is full of happiness"
print(about_life.replace("happiness","sadness"))

travel = "i travel by car"
print(travel.replace("car","bike"))

task = "im walking"
print(task.replace("walking","running"))

I am in Hydearabad
I have good knowledge in Python and SQL
my life is full of sadness
i travel by bike
im running

In [65]:
#split

living = "i have been living in warangal since 15 years"
place = living.split()
print(place)

fathers_occupation = "my father works in an marketing company as a general manager"
occupation = fathers_occupation.split()
print(occupation)

mothers_occupation = "she is a home maker"
occupation = mothers_occupation.split()
print(occupation)

intermediate = "I HAVE COMPLETED MY 12TH CLASS IN ALPHORES JUNIOR COLLEGE"
twelth_class = intermediate.split()
print(twelth_class)


brothers_degree = "MY BROTHER IS STUDYING IN KAKATIYA INSTITUTE OF TECHNOLOGY AND SCIENCE"
degree = brothers_degree.split()
print(degree)

['i', 'have', 'been', 'living', 'in', 'warangal', 'since', '15', 'years']
['my', 'father', 'works', 'in', 'an', 'marketing', 'company', 'as', 'a', 'general', 'manager']
['she', 'is', 'a', 'home', 'maker']
['I', 'HAVE', 'COMPLETED', 'MY', '12TH', 'CLASS', 'IN', 'ALPHORES', 'JUNIOR', 'COLLEGE']
['MY', 'BROTHER', 'IS', 'STUDYING', 'IN', 'KAKATIYA', 'INSTITUTE', 'OF', 'TECHNOLOGY', 'AND', 'SCIENCE']

In [66]:
#join()

about = ['Life', 'has', 'no', 'Cntrl+Z']
join_str = " ".join(about)
print(join_str)

location = ['I', 'have', 'been', 'living', 'in', 'Hanamkonda', 'for', '22', 'years']
print(' '.join(location))

living = ['i', 'have', 'been', 'living', 'in', 'warangal', 'since', '15', 'years']
print(' '.join(living))

fathers_occupation = ['my', 'father', 'works', 'in', 'an', 'marketing', 'company', 'as', 'a', 'general', 'manager']
print(' '.join(fathers_occupation))

mothers_occupation = ['she', 'is', 'a', 'home', 'maker']
print(" ".join(mothers_occupation))

Life has no Cntrl+Z
I have been living in Hanamkonda for 22 years
i have been living in warangal since 15 years
my father works in an marketing company as a general manager
she is a home maker

In [71]:
#center()
work = "iam working at teks academy"
print(work.center(50))

address = "im living in hyderabad"
print(address.center(80))

name = "durnala pranay kumar"
print(name.center(100))

mothersname = "durnala madhavi"
print(mothersname.center(140))

brothers_name = "durnala nandha kumar"
print(brothers_name.center(180))

           iam working at teks academy
                             im living in hyderabad
                                        durnala pranay kumar
                                                              durnala madhavi
                                                                                durnala nandha kumar

In [76]:
#capitalize()
name = "durnala pranay kumar"
print(name.capitalize())

proper = "warangal"
print(proper.capitalize())

favoriteplace = "myhome"
print(favoriteplace.capitalize())

Durnala pranay kumar
Warangal
Myhome

In [77]:
#ljust
txt = "banana"
x = (txt.ljust(20))
print(x, "is my favorite fruit.")

banana               is my favorite fruit.

In [78]:
#swapcase()
name = "im DURnala PRANay KUMAR AND im froM waraNGAl"
print(name.swapcase())

IM durNALA pranAY kumar and IM FROm WARAngaL

In [80]:
#title()
text = "welcome to my world"
print(text.title())

Welcome To My World

In [83]:
#zfill
name = "pranay kumar"
print(name.zfill(20))

00000000pranay kumar

In [88]:
#rindex
name = "im DURnala PRANay KUMAR AND im froM waraNGAl"
print(name.rindex("waraNGAl"))

36

In [90]:
#rpartition()
txt = "I could eat bananas all day, bananas are my favorite fruit"
print(txt.rpartition("are"))

('I could eat bananas all day, bananas ', 'are', ' my favorite fruit')