<a href="https://colab.research.google.com/github/pranaydurnala/Python-Basics/blob/main/tuple_datatype.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#empty tuple
empty_tuple = ()
empty_tuple

()

In [ ]:
#creating tuples

t1 = ("apple", "banana", "cherry")
print(t1)

t2 = ("python", "java", "javascript")
print(t2)

t3 = ("hello", "world")
print(t3)

t4 = ("open", "high", "low", "close")
print(t4)

t5 = ("blue", "green", "red", "yellow", "purple")
print(t5)

t6 = ("cat", "dog", "rabbit")
print(t6)

t7 = ("alpha", "beta", 15, 10)
print(t7)

t8 = (1,2,3,4,5)
print(t8)

t9 = ("apple", "orange", "grape", "banana")
print(t9)

t10 = ("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")
print(t10)

('apple', 'banana', 'cherry')
('python', 'java', 'javascript')
('hello', 'world')
('open', 'high', 'low', 'close')
('blue', 'green', 'red', 'yellow', 'purple')
('cat', 'dog', 'rabbit')
('alpha', 'beta', 15, 10)
(1, 2, 3, 4, 5)
('apple', 'orange', 'grape', 'banana')
('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday')

In [ ]:
#index()

t1 = ("apple", "banana", "cherry")
print(t1[-1])

t2 = ("python", "java", "javascript")
print(t2[2])

t3 = ("hello", "world")
print(t3[0])

t4 = ("open", "high", "low", "close")
print(t4[1])

t5 = ("blue", "green", "red", "yellow", "purple")
print(t5[-3])

t6 = ("cat", "dog", "rabbit")
print(t6[0])

t7 = ("alpha", "beta", 15, 10)
print(t7[0])

t8 = (1,2,3,4,5)
print(t8[-1])

t9 = ("apple", "orange", "grape", "banana")
print(t9[-3])

t10 = ("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")
print(t10[2])

cherry
javascript
hello
high
red
cat
alpha
5
orange
Wednesday

In [ ]:
#slicing

t1 = ("apple", 2, "banana", 4, "cherry")
print(t1[1:4])

t2 = ("python", 3.7, "java", 11, "javascript")
print(t2[2:])

t3 = ("hello", "world")
print(t3[0:1])

t4 = ("open", 1.5, "high", 2.7, "low", 0.8, "close")
print(t4[2:6])

t5 = ("blue", 5, "green", 7, "red", 3, "yellow", 9, "purple")
print(t5[3:7])

t6 = ("cat", "dog", 1, "rabbit", 3)
print(t6[2:3])

t7 = ("alpha", 2, "beta", 4, "gamma", 6, "delta")
print(t7[:2])

t8 = ("one", 1, "two", 2, "three", 3, "four", 4, "five")
print(t8[2:4])

t9 = ("apple", "orange", 5, "grape", 7, "banana")
print(t9[0:4])

t10 = ("Monday", 1, "Tuesday", 2, "Wednesday", 3, "Thursday", 4, "Friday")
print(t10[:2])

(2, 'banana', 4)
('java', 11, 'javascript')
('hello',)
('high', 2.7, 'low', 0.8)
(7, 'red', 3, 'yellow')
('dog', 1, 'rabbit')
('alpha', 2)
('two', 2)
('apple', 'orange', 5, 'grape')
('Monday', 1)

In [ ]:
#count()
t1 = ("apple", "banana", "apple", "cherry", "apple")
count1 = t1.count("apple")
print(count1)

t2 = (1, 2, 2, 3, 3, 3, 4, 4, 4, 4)
count2 = t2.count(3)
print(count2)

t3 = ("hello", "world")
count3 = t3.count("hello")
print(count3)

t4 = ("open", "high", "low", "close", "open", "open")
count4 = t4.count("open")
print(count4)

t5 = ("blue", 1, "green", 2, "red", 3, "yellow", 1, "purple")
count5 = t5.count(1)
print(count5)

t6 = ("cat", "dog", "cat", "rabbit", "rabbit")
count6 = t6.count("rabbit")
print(count6)

t7 = ("alpha", "beta", "gamma", "delta")
count7 = t7.count("gamma")
print(count7)

t8 = ("one", 1, "two", 2, "three", 3, "four", 4, "one")
count8 = t8.count("one")
print(count8)

t9 = ("apple", "orange", "apple", "grape", "banana")
count9 = t9.count("apple")
print(count9)

t10 = ("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")
count10 = t10.count("Monday")
print(count10)

3
3
1
3
2
2
1
2
2
1

In [ ]:
#len()
t1 = ("apple", "banana", "cherry")
length1 = len(t1)
print(length1)

t2 = ("python", 3.7, "java", 11, "javascript")
length2 = len(t2)
print(length2)

t3 = ("hello", "world")
length3 = len(t3)
print(length3)

t4 = ("open", 1.5, "high", 2.7, "low", 0.8, "close")
length4 = len(t4)
print(length4)

t5 = ("blue", 5, "green", 7, "red", 3, "yellow", 9, "purple")
length5 = len(t5)
print(length5)

t6 = ("cat", "dog", 1, "rabbit", 3)
length6 = len(t6)
print(length6)

t7 = ("alpha", 2, "beta", 4, "gamma", 6, "delta")
length7 = len(t7)
print(length7)

t8 = ("one", "two", 3, "four", 5)
length8 = len(t8)
print(length8)

t9 = ("apple", "orange", 5, "grape", 7, "banana")
length9 = len(t9)
print(length9)

t10 = ("Monday", 1, "Tuesday", 2, "Wednesday", 3, "Thursday", 4, "Friday")
length10 = len(t10)
print(length10)

3
5
2
7
9
5
7
5
6
9

In [ ]:
#sorted()
t1 = ("apple", "banana", "cherry")
sorted_t1 = sorted(t1)
print(sorted_t1)

t2 = ("python", "java", "javascript")
sorted_t2 = sorted(t2)
print(sorted_t2)

t3 = ("hello", "world")
sorted_t3 = sorted(t3)
print(sorted_t3)

t4 = ("open", "high", "low", "close")
sorted_t4 = sorted(t4)
print(sorted_t4)

t5 = ("blue", "green", "red", "yellow","purple")
sorted_t5 = sorted(t5)
print(sorted_t5)

t6 = ("cat", "dog", "rabbit",)
sorted_t6 = sorted(t6)
print(sorted_t6)

t7 = ("alpha", "beta", "gamma", "delta")
sorted_t7 = sorted(t7)
print(sorted_t7)

t8 = ("one", "two", "four")
sorted_t8 = sorted(t8)
print(sorted_t8)

t9 = ("apple", "orange", "grape", "banana")
sorted_t9 = sorted(t9)
print(sorted_t9)

t10 = ("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")
sorted_t10 = sorted(t10)
print(sorted_t10)

['apple', 'banana', 'cherry']
['java', 'javascript', 'python']
['hello', 'world']
['close', 'high', 'low', 'open']
['blue', 'green', 'purple', 'red', 'yellow']
['cat', 'dog', 'rabbit']
['alpha', 'beta', 'delta', 'gamma']
['four', 'one', 'two']
['apple', 'banana', 'grape', 'orange']
['Friday', 'Monday', 'Thursday', 'Tuesday', 'Wednesday']

In [ ]:
# delete (del)
t1 = ("apple", "banana", "cherry")
print(t1)

t2 = ("python", "java", "javascript")
print(t2)

t3 = ("hello", "world")
del t3

t4 = ("open", "high", "low", "close")
del t4

t5 = ("blue", "green", "red", "yellow", "purple")
del t5

('apple', 'banana', 'cherry')
('python', 'java', 'javascript')

In [3]:
#min()
t1 = ("apple", "banana", "cherry")
print(min(t1))

t2 = (100,388,988,253,61,78,26,12,24,13,7,3,4,)
print(min(t2))

t3 = (-7,89,-2,-10,90,34,18)
print(min(t3))

t4 = ("open", "high", "low", "close")
print(min(t4))

t5 = (89,89,299,288,38,209,280)
print(min(t5))

t6 = (80,30,500,890,273,26,2)
print(min(t6))

t8 = (1,2,3,4,5)
print(min(t8))

t9 = ("apple", "orange", "grape", "banana")
print(min(t9))

t10 = ("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")
print(min(t10))

apple
3
-10
close
38
2
1
apple
Friday

In [4]:
#max()

t1 = ("apple", "banana", "cherry")
print(max(t1))

t2 = (100,388,988,253,61,78,26,12,24,13,7,3,4,)
print(max(t2))

t3 = (-7,89,-2,-10,90,34,18)
print(max(t3))

t4 = ("open", "high", "low", "close")
print(max(t4))

t5 = (89,89,299,288,38,209,280)
print(max(t5))

t6 = (80,30,500,890,273,26,2)
print(max(t6))

t8 = (1,2,3,4,5)
print(max(t8))

t9 = ("apple", "orange", "grape", "banana")
print(max(t9))

t10 = ("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")
print(max(t10))

cherry
988
90
open
299
890
5
orange
Wednesday